{% if brand %}{{ brand }} {% endif %}{% if color %}{{ color }}{% endif %}
{% if style %}{{ style }}{% endif %}
{{ garment }}
{% if pattern %}featuring a {{ pattern }} print{% endif %}
{% if material %}{{ material }}{% endif %}
