{% if height %}{{ height }} {% endif %}{% if build %}{{ build }} {% endif %}{% if species %}{{ species }}{% endif %}{% if jaw %} with a {{ jaw }} jaw{% endif %}{% if chest %} and a {{ chest }} chest{% endif %}{% if skin_tone %} with {{ skin_tone }} skin{% endif %}{% if hands %} and {{ hands }} hands{% endif %}