{% if color %}{{ color }}{% endif %}
{% if lapel %}{{ lapel }}{% endif %}
{{ garment }}
{% if buttons %}with {{ buttons }} buttons{% endif %}
{% if pocket_style %}and {{ pocket_style }} pockets{% endif %}
